{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static "\assets\img\home-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Knowleak</h1>
                            <span class="subheading">E-Learning Platform</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 ">
                <!-- Post preview-->
                <div class="card" style="width: 19rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <div class="post-preview">
                            <a href="post.html">
                                <h4 >COURSE CARD EXAMPLE</h4>
                            </a>
                            <!--<p class="post-meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on September 24, 2021
                            </p>-->
                        </div>
                    </div>
                </div>
                <!-- Post preview-->
                <div class="card" style="width: 19rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <div class="post-preview">
                            <a href="post.html">
                                <h4 >COURSE CARD EXAMPLE</h4>
                            </a>
                            <!--<p class="post-meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on September 24, 2021
                            </p>-->
                        </div>
                    </div>
                </div>
                <!-- Post preview-->
                <div class="card" style="width: 19rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <div class="post-preview">
                            <a href="post.html">
                                <h4 >COURSE CARD EXAMPLE</h4>
                            </a>
                            <!--<p class="post-meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on September 24, 2021
                            </p>-->
                        </div>
                    </div>
                    </div>
                <!-- Post preview-->
                <div class="card" style="width: 19rem;">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <div class="post-preview">
                            <a href="post.html">
                                <h4 >COURSE CARD EXAMPLE</h4>
                            </a>
                            <!--<p class="post-meta">
                                Posted by
                                <a href="#!">Start Bootstrap</a>
                                on September 24, 2021
                            </p>-->
                        </div>
                    </div>
                    </div>
                    <!-- Pager-->
                <div class="d-flex justify-content-end mb-4" style="margin-top: 1.25rem;"><a class="btn btn-primary text-uppercase" href="#!">Load More Course</a></div>
            </div>
        </div>

{% endblock content %}