{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static "\assets\img\home-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Knowleak</h1>
                            <span class="subheading">E-Learning Platform</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 ">

                {% for course in object_list %}

                    <div class="card" style="width: 19rem; margin: 10px; border: 5px solid; border-radius: 15px">
                        <img class="card-img-top" src={{course.img}} alt="IMG">
                        <div class="card-body">
                            <div class="post-preview">
                                <a href="post.html">
                                    <h4 class="post-title">{{course.title}}</h4>
                                </a>
                                <h5 class=>{{course.briefInstr}}</h5>
                                <!--<p class="post-meta">
                                    Posted by
                                    <a href="#!">Start Bootstrap</a>
                                    on September 24, 2021
                                </p>-->
                            </div>
                    </div>
                </div>

                {% endfor %}
                    <!-- Pager-->
                <div>
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                        <div class="d-flex justify-content-end mb-4">
                            <a class="btn btn-primary text-uppercase" href="?page=1">&laquo; first</a>
                            <a class="btn btn-primary text-uppercase" href="?page={{ page_obj.previous_page_number }}">previous</a>
                        </div>
                            
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                        <div class="d-flex justify-content-end mb-4">
                            <a class="btn btn-primary text-uppercase" href="?page={{ page_obj.next_page_number }}">next</a>
                            <a class="btn btn-primary text-uppercase" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        </div>
                        {% endif %}
                    </span>
                
            </div>
        </div>

{% endblock content %}