asgiref
atomicwrites
attrs
certifi
cffi
charset-normalizer
colorama
cryptography
defusedxml
dj-database-url
dj-static
Django
django-allauth
django-toolbelt
gunicorn
idna
iniconfig
iyzipay
oauthlib
packaging
Pillow
pluggy
py
pycparser
PyJWT
pyparsing
pytest
python3-openid
requests
requests-oauthlib
sqlparse
static3
toml
tzdata
urllib3
whitenoise
