{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>About Us<span class="m_1"></span></h1>
		</div>
	</div>
	
    <div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>About</h3>
                    <p class="lead">
                        We are a team based on GTU.
                    </p>
                </div>
            </div><!-- end title -->
        
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>KnowLeak</h2>
                        <p>
                            KnowLeak is developed by four undergraduate students of Gebze Technical University. It is developed as a e-learning platform to provide qualified class opportunities to everyone. 
                        </p>

                        <p> 
                            Who are we?
                        </p>
                        <p>
                            Ayça Sumru KOSE
                        </p>
                        <p>
                            Berkcan EKICI
                        </p>
                        <p>
                            Melihcan CILEK
                        </p>
                        <p>
                            Oguzhan Erdem TEKEL
                        </p>

                        <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="{% static 'images/about_02.jpg' %}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
			</div>
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="{% static 'images/about_03.jpg' %}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>KnowLeak</h2>
                        <p>
                            At KnowLeak, w are all students. We live out our values every day to create a culture that is diverse, inclusive, and committed to helping people's self improvement who are still feeling as students.
                        </p>

                        <p> 
                            We are committed to changing the future of learning for the better.
                        </p>

                        <a href="#" class="hover-btn-new orange"><span>Learn More</span></a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
	
	<div class="hmv-box">
		<div class="container">
			<div class="row" style="place-content: center"> 
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-achievement"></i></div>
						<h3>Mission</h3>
						<div class="tr-pa">M</div>
						<p>Vestibulum molestie turpis vel leo convallis, facilisis ultricies erat pharetra. Fusce ultrices, nisi eget 
                            mattis pretium, lectus turpis sagittis tortor, a lacinia nisi lectus eget purus. Nunc euismod erat ac dui ul</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="inner-hmv">
						<div class="icon-box-hmv"><i class="flaticon-eye"></i></div>
						<h3>Vision</h3>
						<div class="tr-pa">V</div>
						<p>Vestibulum molestie turpis vel leo convallis, facilisis ultricies erat pharetra. Fusce ultrices, nisi eget 
                            mattis pretium, lectus turpis sagittis tortor, a lacinia nisi lectus eget purus. Nunc euismod erat ac dui ul</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>

    {% endblock %}