{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}
	
	<div class="all-title-box">
		<div class="container text-center">
			<h1>Courses</span></h1>
		</div>
	</div>
	<div class="section-title text-center mt-5 mb-0">
		<div class="col-md-8 offset-md-3 ">
			<p>If you see ✓ symbol, it means that you have already enrolled that course but if you see ✗ symbol, it means that you haven't taken that course yet. </p>
		</div>
	</div><!-- end title -->
    <div id="overviews" class="section wb">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-9 blog-post-single">
                    <div class="row"> 
						{% for course in courses %}
                        <div class="col-lg-6 col-md-6 col-12 mb-4">
                            <div class="course-item">
                                <div class="image-blog">
                                    <img src="{{course.image.url}}" alt="" class="img-fluid">
                                </div>
                                <div class="course-br">
                                    <div class="course-title">
                                        <h2>
											<div>
												<a href="{% url 'course_detail' course.category.name course.id %}" title="">{{course.name}}</a>
												<div style="float: right; display: flex;">
													<div class="mr-3 h6">Count : {{course.students.count}}</div>
													{% if course in enrolled_courses %}
														<span class="is_enrolled">✓</span> 
													{% else %}
														<span class="is_enrolled">✗</span>
													{% endif %}
												</div>
											</div>
											
											
										</h2>
                                    </div>
                                    <div class="course-desc">
                                        <p>{{course.description }}</p>
                                    </div>
                                </div>
                                <div class="course-meta-bot">
                                    <ul>
                                        <li><i class="fa fa-book" aria-hidden="true"></i> {{course.teacher}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- end col -->
						{% endfor %}
                    </div><!-- end row -->
					<!--Pagination-->
					<div class="container p-4 " >
						<div class="text-center">
							<span class="current">
								Page {{ courses.number }} of {{ courses.paginator.num_pages }}
							</span>
						</div>
						<div class="pagination justify-content-center">
							<span class="step-links">
							{% if courses.has_previous %}
								<a href="?page=1">&laquo; first</a>
								<a href="?page={{ courses.previous_page_number }}">previous</a>
							{% endif %}

							{% if courses.has_next %}
								<a href="?page={{ courses.next_page_number }}">next</a>
								<a href="?page={{ courses.paginator.num_pages }}">last &raquo;</a>
							{% endif %}
							</span>
							</div>
						</div>
					<!--end of Pagination-->
					
                </div><!-- end col -->
				<div class="col-lg-3 col-12 right-single">
					<div class="widget-search">
						<div class="site-search-area">
							<form method="get" id="site-searchform" action="{% url 'search' %}">
								<div>
									<input class="input-text form-control" name="search" placeholder="Search keywords..." type="text">
									<input id="searchsubmit" value="Search" type="submit">
								</div>
							</form>
						</div>
					</div>
					<div class="widget-categories">
						<h3 class="widget-title">Categories</h3>
						<ul>
							{% for category in categories %}
								<li><a href="{% url 'courses_by_category' category.slug %}">{{category.name}}</a></li>
							{% endfor %}
						</ul>
					</div>
					
				</div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

	{% endblock %}

