<div id="overviews" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <h3>Latest Courses</h3>
                <p class="lead">Lorem Ipsum dolroin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem!</p>
            </div>
        </div><!-- end title -->

        {% for course in courses %}
    
        <div class="row align-items-center">

            {% if not forloop.first %}

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="{{course.image.url}}" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->

            {% endif %}

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="message-box">
                    <h2>{{ course.name }}</h2>
                    <p>{{course.description}}</p>
                    <a href="{% url 'course_detail' course.category.slug course.id %}" class="hover-btn-new orange"><span>Learn More</span></a>
                </div><!-- end messagebox -->
            </div><!-- end col -->
            
            {% if forloop.first %}
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="post-media wow fadeIn">
                    <img src="{{course.image.url}}" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->

            {% endif %}
        </div>

        {% endfor %}




    </div><!-- end container -->
</div><!-- end section -->