{% extends 'partials/_base.html' %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
{% else %}
    <div class="modal fade show" id="logreg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header tit-up">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body customer-box">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="Login">
                            <form method="POST" role="form" class="form-horizontal">
                                {% csrf_token %}

                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-{{message.tags}}">

                                    {{message}}
                                </div>
                                {% endfor %}

                                {% endif %}

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        {{form.username}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        {{form.password}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input type="submit" value="Submit" class="btn btn-primary btn-radius btn-brd btn-block">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endif %}
{% include 'carousel.html' %}

{% endblock %}