{% extends 'partials/_base.html' %}
{% load static %}
{% load socialaccount %}


{% block content %}


<div class="modal fade show" id="logreg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header tit-up">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Register</h4>
          </div>
          <div class="modal-body customer-box">
              <!-- Tab panes -->
              <div class="tab-content">
                  <div class="tab-pane active" id="Registration">
                      <form method="POST" role="form" class="form-horizontal">
                        {% csrf_token %}
                          <div class="form-group">
                              <div class="col-sm-12">
                                  {{form.first_name}}
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12">
                                {{form.last_name}}
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12">
                                {{form.username}}
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12">
                                {{form.email}}
                              </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-12">
                              {{form.password1}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                              {{form.password2}}
                            </div>
                        </div>

                        {% if form.errors  %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error}}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}


                          <div class="row">							
                              <div class="col-sm-10">
                                <input type="submit" value="Register" class="btn btn-light btn-radius btn-brd grd1">
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>

{% include 'carousel.html' %}

</div>

{% endblock %}
